<!--This is the home page. It shows a welcome message and one sample post with a link to more posts-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Green River Messaging</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/355/grmessage/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/355/grmessage/styles/login.css">

    <!--Javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/355/grmessage/js/forgotPassword.js"></script>
</head>
<body>

    <header class="header clearfix" id="mainHeader">
        <a href=""><h1>Green River Messaging</h1></a>
        <a href="http://greenrivertech.net/index.php">GR TECH</a>
        <a href="http://gatorlock.greenriverdev.com/">GatorLock</a>
    </header>

    <div class="container">

        <div class="row">
            <p class="alert alert-warning text-dark my-3" role="alert">
                This is not an official Green River service. This is a project by IT students to provide a messaging
                service for Green River College students and instructors.
            </p>

            <div class="col-4 mx-auto">
                <form method="post" class="form mx-auto">
                    <div class="row mx-auto">
                        <check if="{{ @loginError != '' }}">
                            <p class="error alert alert-danger" role="alert">{{@loginError}}</p>
                        </check>
                        <label class="form-control-label mx-auto" for="email">Green River Email </label>
                        <input class="form-control" type="text" id="email" name="email" value="{{ @username }}">
                    </div>

                    <div class="row mx-auto">
                        <label class="form-control-label mx-auto" for="password">Password </label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>

                    <div class="row align-bottom mx-auto my-2">
                        <button type="submit" name="login">Login</button>
                        <a href="http://gatorlock.greenriverdev.com/requestForReset" id="openDialog" target="_blank">Forgot Password? Reset</a>
                        <button type="submit" name="register" id="register">Not a member? Register</button>
                    </div>

                    <!-- Forgot Password Box -->
                    <div id="forgotPassword">
                        <div class="row mx-auto">
                            <p class="alert alert-warning text-dark my-3 mx-auto" role="alert">
                                Enter your email and a new password will be sent to that email
                            </p>
                            <div class="row mx-auto">
                                <label class="form-control-label mx-auto" for="email2" id="resendLabel">Green River Email
                                <input class="form-control" type="text" id="email2" name="email2" value="{{ @username }}"></label>
                                <button type="submit" name="resend" id="resend">Send new password</button>
                                <button type="button" name="close" id="close">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>