<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/355/grmessage/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/355/grmessage/styles/form.css">
    <script src="/355/grmessage/javascript/register.js"></script>
</head>
<body>
    <header class="header clearfix" id="mainHeader">
        <a href="/355/grmessage/"><h1>GR Messaging</h1></a>
    </header>

    <div class="container" id="mainContainer">
        <h2>Register</h2>
        <hr>
        <div class="btn-toolbar" arialabel="Register As:">
            <div class="btn-group mb-2">
                <button type="button" class="btn btn-primary" id="student">Student</button>
                <button type="button" class="btn btn-primary" id="instructor">Instructor</button>
            </div>
        </div>

        <div class="col-7">
            <form class="form" action="" method="post">
                <p>* Required fields</p>

                <label class="form-control-label" for="email">*Green River Email :</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="email" name="email"
                           value="" required>
                </div>

                <label class="form-control-label" for="phone">*Password</label>
                <check if="{{ isset(@errors['phone']) }}">
                    <p>{{ @errors['phone'] }}</p>
                </check>
                <input class="form-control" type="text" id="password" name="password"
                        value="{{ @phone }}">

                <label class="form-control-label" for="phone">*Confirm password</label>
                <check if="{{ isset(@errors['phone']) }}">
                    <p>{{ @errors['phone'] }}</p>
                </check>
                <input class="form-control" type="text" id="confirm" name="confirm"
                        value="{{ @phone }}">

                <label class="form-control-label" for="first">*First Name</label>
                <check if="{{ isset(@errors['first']) }}">
                    <p>{{ @errors['first'] }}</p>
                </check>
                <div class="input-group">
                    <input class="form-control" type="text" id="first" name="first"
                            value="{{ @first }}" required>
                    <span class="input-group-addon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
                </div>

                <label class="form-control-label" for="last">*Last Name</label>
                <check if="{{ isset(@errors['last']) }}">
                    <p>{{ @errors['last'] }}</p>
                </check>
                <input class="form-control" type="text" id="last" name="last"
                        value="{{ @last }}" required>

                <label class="form-control-label" for="phone">Phone Number</label>
                <check if="{{ isset(@errors['phone']) }}">
                    <p>{{ @errors['phone'] }}</p>
                </check>
                <input class="form-control" type="text" id="phone" name="phone"
                        value="{{ @phone }}">

                <label class="form-check-label">Mobile Carrier</label>
                <label class="d-block"></label>
                <select class="form-control dropdown" id="carrier" name="carrier">
                    <option value="volvo">Verizon</option>
                    <option value="saab">AT&T</option>
                    <option value="mercedes">Sprint</option>
                    <option value="audi">T-Mobile</option>
                    <option value="volvo">Boost Mobile</option>
                    <option value="saab">Cricket Wireless</option>
                    <option value="mercedes">Virgin Mobile</option>
                    <option value="audi">Republic Wireless</option>
                    <option value="volvo">U.S. Cellular</option>
                    <option value="saab">Alltel</option>
                </select>

                <button id="next" class="btn btn-primary" type="submit" name="submit">Register</button>
            </form>
        </div>
    </div> <!-- /container -->
</body>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>