<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://www.greenriver.edu/favicon.ico">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/main.css">
    <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/form.css">

    <!-- Javascript-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src="{{@BASE}}/js/register.js"></script>
</head>
<body>
    <header class="header clearfix" id="mainHeader">
        <a href="{{@BASE}}"><h1>Green River Messaging</h1></a>
        <a href="http://greenrivertech.net/index.php">GR TECH</a>
        <a href="http://gatorlock.greenriverdev.com/">GatorLock</a>
    </header>

    <div class="container" id="mainContainer">
        <h2>Register as:</h2>
        <button type="button" id="student" class="clicked">Student</button>
        <button type="button" id="instructor">Instructor</button>
        <h2 id="regHeader">Student</h2>
        <hr>

        <check if="{{ isset(@errors['gatorlock']) }}">
            <p class="alert alert-danger">{{@errors['gatorlock']}}</p>
        </check>
        <div class="col-6">
            <form class="form" action="" method="post">
                <p><i>* Required fields</i></p>

                <div id="gatorLockDiv">
                    <input type="checkbox" value="gatorLock" id="gatorLock" name="gatorLock"
                    <check if="{{ isset(@fields['gatorLock']) }}">checked</check>>I already have a GatorLock account</label>
                </div>

                <label class="form-control-label" for="email">*Green River Email<span class="red"></span></label>
                <check if="{{ isset(@errors['email']) }}">
                    <p class="error alert alert-danger">{{ @errors['email'] }}</p>
                </check>
                <check if ="{{ @instructor }}">
                    <true><input class="form-control" type="text" id="email" name="iemail" placeholder="example@greenriver.edu"
                        value="{{ @fields['iemail'] }}" required></true>
                    <false><input class="form-control" type="text" id="email" name="semail" placeholder="example@mail.greenriver.edu"
                       value="{{ @fields['semail'] }}" required></false>
                </check>
                <label class="form-control-label" for="password">*<span id="passLabel">Password</span>
                    <ul class="gatorLockShow text-muted"><p>Password must have all 4 of the following requirements:</p>
                        <li>At least 8 characters</li>
                        <li>At least 1 character (not case-sensitive)</li>
                        <li>At least 1 number</li>
                        <li>At least 1 special character</li>
                    </ul>
                    <input type="checkbox" value="show" id="showPassword"><span class="gatorLockShow">Show</span><span class="red gatorLockShow"></span></label>
                <check if="{{ isset(@errors['password']) }}">
                    <p class="error alert alert-danger">{{ @errors['password'] }}</p>
                </check>
                <input class="form-control" type="password" id="password" name="password"
                        value="{{ @fields['password'] }}" required>

                <label class="gatorLockShow form-control-label" for="confirm">*Confirm Password<span class="red gatorLockShow"></span></label>
                <check if="{{ isset(@errors['confirm']) }}">
                    <p class="gatorLockShow error alert alert-danger">{{ @errors['confirm'] }}</p>
                </check>
                <input class="gatorLockShow form-control" type="password" id="confirm" name="confirm"
                        value="{{ @fields['confirm'] }}">

                <label class="form-control-label" for="first">*First Name<span class="red"></span></label>
                <input class="form-control" type="text" id="first" name="first"
                        value="{{ @fields['first'] }}" required>

                <label class="form-control-label" for="last">*Last Name<span class="red"></span></label>
                <input class="form-control" type="text" id="last" name="last"
                        value="{{ @fields['last'] }}" required>

                <div id="studentFields">
                    <label class="form-control-label" for="phone">Cell Phone Number<span class="red"></span></label>
                    <check if="{{ isset(@errors['phone']) }}">
                        <p class="error alert alert-danger">{{ @errors['phone'] }}</p>
                    </check>
                    <input class="form-control" type="text" id="phone" name="phone"
                            value="{{ @fields['phone'] }}">

                    <div id="selectCarrier">
                        <label class="form-check-label">Mobile Carrier</label>
                        <label class="d-block"></label>
                        <select class="form-control dropdown" id="carrier" name="carrier">
                            <repeat group = "{{ @carriers }}" value = "{{ @carrierOption }}">
                                <option <check if="{{ @carrierOption == @fields['carrier'] }}">selected</check>>
                                {{ @carrierOption }}</option>
                            </repeat>
                        </select>
                    </div>

                    <label class="form-check-label">*Program</label>
                    <label class="d-block"></label>
                    <select class="form-control dropdown" id="program" name="program">
                        <repeat group = "{{ @programs }}" value = "{{ @programOption }}">
                            <option <check if="{{ @programOption == @fields['program'] }}">selected</check>>
                            {{ @programOption }}</option>
                        </repeat>
                    </select>
                </div>

                <button id="submit" type="submit" name="submitS">Register</button>
            </form>
        </div>
    </div> <!-- /container -->
</body>
</html>