<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>

<form class="form" action="" method="post">
    <label class="form-control-label" for="email">Student Email :</label>
    <div class="input-group">
        <input class="form-control" type="text" id="email" name="email"
               value="">
    </div>

    <label class="form-control-label" for="password">Password :</label>
    <div class="input-group">
        <input class="form-control" type="text" id="password" name="password"
               value="">
    </div>
    <label class="form-control-label" for="verifyPassword">Verify Password :</label>
    <div class="input-group">
        <input class="form-control" type="text" id="verifyPassword" name="verifyPassword"
               value="">
    </div>

    <label class="form-control-label" for="first">First Name :</label>
    <div class="input-group">
        <input class="form-control" type="text" id="first" name="first"
               value="">
    </div>

    <label class="form-control-label" for="last">Last Name :</label>
    <input class="form-control" type="text" id="last" name="last"
           value="">

    <label class="form-control-label" for="phone">Phone Number :</label>
    <input class="form-control" type="text" id="phone" name="phone"
           value="">


    <button id="submit" class="btn btn-primary" type="submit" name="submit">Submit Account</button>
</form>
</div>




<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>