<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://www.greenriver.edu/favicon.ico">

    <!--Style sheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/main.css">
    <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/accountVerification.css">
</head>
<body>
    <header class="header clearfix" id="mainHeader">
        <a href="{{@BASE}}"><h1>Green River Messaging</h1></a>
        <a href="http://greenrivertech.net/index.php">GR TECH</a>
        <a href="http://gatorlock.greenriverdev.com/">GatorLock</a>
        <a href="logout"><h1 id="logout">Log out</h1></a>
    </header>

    <div class="container">
        <p class="alert alert-warning text-dark my-3" role="alert">
            Please enter the verification code you received in your Green River email.
        </p>
        <form method="post" class="form mx-auto">
            <div class="container">
                <div class="row mx-auto">
                    <div class="container">
                        <div class="row mx-auto my-1">
                            <check if="{{@codeError == 'false' || empty(@codeError)}}">
                                <true></true>
                                <false><p class="alert alert-danger text-dark my-3" role="alert">
                                    {{@codeError}}
                                </p></false>
                            </check>
                        </div>
                        <div class="row mx-auto my-1">
                            <label class="form-control-label mx-auto"><b>Verify Account for:</b> {{ @email }} <input class="form-control" type="text" id="verificationCode" name="verificationCode"></label>
                        </div>
                    </div>
                </div>
                <div class="col align-bottom mx-auto my-2">
                    <div class="container">
                        <div class="row mx-auto my-1">
                            <button type="submit" name="verify">Verify Account</button>
                        </div>
                        <div class="row mx-auto my-1">
                            <button type="submit" name="resend" id="resend">Send new verification code</button>
                        </div>
                        <check if="{{ @sent }}">
                            <h3 id="green" class="alert alert-success" role="alert">Code Sent!</h3>
                        </check>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>