<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Messages</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://www.greenriver.edu/favicon.ico">

        <!--Style sheets-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/main.css">
        <link type="text/css" rel="stylesheet" href="{{@BASE}}/styles/viewMessages.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

        <!-- Javascript-->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" type="text/javascript"></script>
        <script src="{{@BASE}}/js/updateStudentInfo.js"></script>
    </head>
    <body>
        <header class="header clearfix" id="mainHeader">
            <a href="profile"><h1>Green River Messaging</h1></a>
            <a href="http://greenrivertech.net/index.php">GR TECH</a>
            <a href="http://gatorlock.greenriverdev.com/">GatorLock</a>
            <a href="logout"><h1 id="logout">Log out</h1></a>
        </header>

        <div class="container" id="mainContainer">

            <h2 id="regHeader">Messages</h2>
            <a class="link" href="profile">Profile</a>
            <a class="link" href="message">Send Message</button></a>
            <hr>

            <!--DataTable-->
            <table id="messagesTable" class="display">
                <thead>
                <tr>
                    <th>Sent By:</th>
                    <th>Message:</th>
                    <th>Recipient(s): </th>
                    <th>Date: </th>
                </tr>
                </thead>

                <tbody>
                <repeat group="{{@messages}}" value="{{@message}}">
                <tr>

                        <td>{{ @message['instructorEmail'] }} </td>
                        <td>{{ @message['content'] }} </td>
                        <td>{{ @message['recipient'] }} </td>
                        <td>{{ @message['datetime'] }} </td>
                </tr>
                </repeat>
                </tbody>
            </table>

        </div>

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <script>

            $(document).ready(function() {
                $('#messagesTable').DataTable( {
                    "pagingType": "full_numbers",
                    "order": [[ 3, "desc" ]]
                } );
            } );

        </script>
    </body>
</html>