/* Header Styles */

h3#green {
    position: relative;
    font-size: 1.2rem;
    color: #008930;
    width: max-content;
    margin: auto;
}

/* Label and Input Styles */

label {
    width: 50%;
    text-align: center;
}

p {
    text-align:center;
    margin: auto;
}

p.alert-danger {
    width: 50%;
}

input.form-control {
    width: 100%;
}

/* Button Styles */

button {
    width: 50%;
    margin: 6px auto;
}

button#resend {
    background: #f2870d;
    background: -moz-linear-gradient(0deg, #f6ab55 0%, #f2870d 49%, #c26c0a 51%, #f49325 100%);
    background: -webkit-linear-gradient(0deg, #f6ab55 0%,#f2870d 49%,#c26c0a 51%,#f49325 100%);
    background: linear-gradient(180deg, #f6ab55 0%,#f2870d 49%,#c26c0a 51%,#f49325 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ab55', endColorstr='#f49325',GradientType=1 );
}

button#unsubscribe {
    font-size: 1.5em;
    background: #f20d0d;
    background: -moz-linear-gradient(0deg, #f65555 0%, #f20d0d 49%, #c20a0a 51%, #f42525 100%);
    background: -webkit-linear-gradient(0deg, #f65555 0%,#f20d0d 49%,#c20a0a 51%,#f42525 100%);
    background: linear-gradient(180deg, #f65555 0%,#f20d0d 49%,#c20a0a 51%,#f42525 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65555', endColorstr='#f42525',GradientType=1 );
}