button {
    width: 100%;
    margin: 6px 0px;
}

button#resend {
    background: #eacb6e;
    background: -moz-linear-gradient(0deg, #f7e7b2 0%, #eacb6e 49%, #e5b72d 51%, #eaba2a 100%);
    background: -webkit-linear-gradient(0deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    background: linear-gradient(180deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e7b2', endColorstr='#eaba2a',GradientType=1 );
}

.error {
    margin-left: auto;
    margin-right: auto;
}