@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

/* Header Styles */

h2 {
    display: inline;
}

h2#regHeader {
    display: inline;
    width: max-content;
    margin-right: 2%;
}

/* Button Styles */

button.clicked {
    background: #008031;
    background: -moz-linear-gradient(0deg, #00cc4b 0%, #008031 49%, #006225 51%, #00993b 100%);
    background: -webkit-linear-gradient(0deg, #00cc4b 0%,#008031 49%,#006225 51%,#00993b 100%);
    background: linear-gradient(180deg, #00cc4b 0%,#008031 49%,#006225 51%,#00993b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc4b', endColorstr='#00993b',GradientType=1 );
}

button#submit {
    margin: 10px 0px;
}

/* Input Styles */

.form-control {
    margin-bottom: 4%;
}

span.red {
    display: inline;
    color: red;
    padding: 1em;
}

p.error {
    position: absolute;
    left: 100%;
    margin-top: 0px;
    display: block;
    width: max-content;
    float: right;
    height: 38px;
    line-height: 12px;
}

div#gatorLockDiv {
    border-bottom: 2px solid #008930;
    width: max-content;
}

/* List Styles */

ul p {
    margin: 0% 0% 1% -10%;
}