@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

/* Header Styles */

h2 {
    display: inline;
}

h2#regHeader {
    display: inline;
    width: max-content;
    margin-right: 2%;
}

/* Button Styles */

button.clicked {
    background: #00b344;
    background: -moz-linear-gradient(0deg, #00ff5e 0%, #00b344 49%, #009439 51%, #00cc4e 100%);
    background: -webkit-linear-gradient(0deg, #00ff5e 0%,#00b344 49%,#009439 51%,#00cc4e 100%);
    background: linear-gradient(180deg, #00ff5e 0%,#00b344 49%,#009439 51%,#00cc4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ff7e', endColorstr='#00cc4e',GradientType=1 );
    box-shadow: 0px 0px 5px #00cc4e;
}

button.clicked:hover {
    cursor: default;
}

button#submit {
    font-size: 1.4em;
    margin-bottom: 1%;
}

/* Input Styles */

.form-control {
    margin-bottom: 4%;
}

span.red {
    display: inline;
    color: red;
    padding: 1em;
}

p.error {
    position: absolute;
    left: 100%;
    margin-top: 0px;
    display: block;
    width: max-content;
    float: right;
    height: 38px;
    line-height: 12px;
}

div#gatorLockDiv {
    border-bottom: 2px solid #008930;
    width: max-content;
    margin-bottom: 2%;
}

/* List Styles */

ul p {
    margin: 0% 0% 1% -10%;
}