button {
    width: 100%;
    margin: 6px 0px;
}

button#register, button#close, button#openDialog {
    background: #eacb6e;
    background: -moz-linear-gradient(0deg, #f7e7b2 0%, #eacb6e 49%, #e5b72d 51%, #eaba2a 100%);
    background: -webkit-linear-gradient(0deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    background: linear-gradient(180deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e7b2', endColorstr='#eaba2a',GradientType=1 );
}

p.error {
    width: 100%;
    clear: both;
    text-align: center;
}

/* Forgot Password div */

div#forgotPassword {
    display: none;
    position: fixed;
    top: 30%;
    right: 20%;
    width: 60%;
    padding-bottom: 10px;
    height: max-content;
    background-color: white;
    border: 3px solid green;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
}

label#resendLabel {
    width: 100%;
    text-align: center;
}