@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

/* Body Styles */

div#mainContainer {
    width: 100%;
    padding-top: 1%;
}

/* Header Styles */

header#mainHeader {
    width: 100%;
    left: 0px;
    background-color: green;
    z-index: 10;
    padding: 1%;
}

header h1 {
    font-family: 'Do Hyeon', Impact, sans-serif;
    color: white;
    padding: 8px;
    width: max-content;
    float: left;
}

header a h1:hover, header a h2:hover {
    color: #EEEEEE;
}

/* Button Styles */

button {
    color: white;
    text-shadow: 0px 0px 3px black;
    background: #62c463;
    background: -moz-linear-gradient(0deg, #7af47e 0%, #62c463 49%, #31a533 51%, #3dcc3f 100%);
    background: -webkit-linear-gradient(0deg, #7af47e 0%,#62c463 49%,#31a533 51%,#3dcc3f 100%);
    background: linear-gradient(180deg, #7af47e 0%,#62c463 49%,#31a533 51%,#3dcc3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7af47e', endColorstr='#3dcc3f',GradientType=1 );
    border: none;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    padding: 5px 10px;
    vertical-align: 20%;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 5px black;
}

.error {
    width: 40%;
}

#logout {
    float: right;
}