/* Form Styles */
div.col-6 {
    margin: auto
}

/* Text area styles */
textarea {
    width: 100%;
}

/* Font Styles */

h3#green {
    position: relative;
    float: right;
    font-size: 1.5rem;
    color: green;
    width: max-content;
}

p#counter {
    color: red;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 0px;
}