/* Body Styles */

div#mainContainer {
    margin-bottom: 2%;
}

div.col-6 {
    margin: auto;
}

/* Input tyles */

textarea {
    width: 100%;
}

label.form-control-label {
    display: inline;
    font-family: 'Do Hyeon', Impact, sans-serif;
    font-size: 1.5em;
    color: #006225;
}

input {
    margin-bottom: 1%;
}

/* Font Styles */

h3#green {
    position: relative;
    float: right;
    font-size: 1.5em;
    color: #008930;
    width: max-content;
}

p#counter {
    display: inline;
    color: red;
    font-size: 1.2em;
    text-align: right;
    float: right;
}

p#emptyMessage, p#noRecipients {
    display: none;
    text-align: center;
}

/* Button Styles */

button#sendMessage {
    font-size: 1.5em;
    padding: 8px 16px;
}