/* Button Styles */

button#cancelPassword, button.cancelInput {
    margin-left: 6px;
    background: #eacb6e;
    background: -moz-linear-gradient(0deg, #f7e7b2 0%, #eacb6e 49%, #e5b72d 51%, #eaba2a 100%);
    background: -webkit-linear-gradient(0deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    background: linear-gradient(180deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e7b2', endColorstr='#eaba2a',GradientType=1 );
}

button.edit, button.edit:hover {
    display: inline;
    background-image: url("../image/pencil.png");
    background-repeat: no-repeat;
    background-size: 2.4vw 2vw;
    width: 2.4vw;
    height: 2vw;
    vertical-align: -10%;
    box-shadow:  none;
}

button.update, button.cancelInput {
    margin-left: 4px;
    vertical-align: -4%;
}

button#update {
    margin: 2% 0%;
}

/* Input Styles */

.sameLine {
    display: inline;
    width: 30%;
}

#newLName, #newFName {
    width: 25%;
    margin-left: 4px;
}

label {
    width: 100%;
}

/* Paragraph Styles */

p.error {
    margin: 1% 0%;
    padding: 1% 4%;
    width: max-content;
}

input + p {
    margin-left: 6px;
    display: inline;
}