/* Divider Styles */

div#instructorFields {
    margin-top: 5%;
}

div#verifyPEmailDiv, div#verifyPhoneDiv {
    display: none;
}

/* Button Styles */

button#cancelPassword, button.cancelInput, button.resend {
    margin-left: 6px;
    background: #f2870d;
    background: -moz-linear-gradient(0deg, #f6ab55 0%, #f2870d 49%, #c26c0a 51%, #f49325 100%);
    background: -webkit-linear-gradient(0deg, #f6ab55 0%,#f2870d 49%,#c26c0a 51%,#f49325 100%);
    background: linear-gradient(180deg, #f6ab55 0%,#f2870d 49%,#c26c0a 51%,#f49325 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ab55', endColorstr='#f49325',GradientType=1 );
}

button.edit, button.edit:hover {
    display: inline;
    background-image: url("../image/pencil.png");
    background-repeat: no-repeat;
    background-size: 2vw 1.7vw;
    width: 2vw;
    height: 1.7vw;
    vertical-align: -10%;
    box-shadow: none;
}

button.edit:hover {
    background-image: url("../image/pencil2.png");
}

button.update, button.cancelInput, button.resend {
    margin-left: 4px;
    vertical-align: -4%;
}

button#save {
    margin: 2% 0%;
}

/* Input Styles */

.sameLine {
    display: inline;
    width: 30%;
}

#newLName, #newFName, #personalVerification, #phoneVerification {
    width: 25%;
    margin-left: 4px;
}

label {
    width: 100%;
}

/* Paragraph Styles */

p {
    margin: 6px 0px;
}

p.error, p.alert-success, p#nameError {
    margin: 1% 0%;
    padding: 1% 4%;
    width: max-content;
}

input + p {
    margin-left: 6px;
    display: inline;
}

p#passChanged {
    display: inline;
    padding: 6px 10px;
    vertical-align: 4px;
}