/* Icon Styles */

/* Button Styles */
button#cancelPassword {
    margin-left: 6px;
    background: #eacb6e;
    background: -moz-linear-gradient(0deg, #f7e7b2 0%, #eacb6e 49%, #e5b72d 51%, #eaba2a 100%);
    background: -webkit-linear-gradient(0deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    background: linear-gradient(180deg, #f7e7b2 0%,#eacb6e 49%,#e5b72d 51%,#eaba2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e7b2', endColorstr='#eaba2a',GradientType=1 );
}
.edit{
    display: inline;
    background-image: url("../image/pencil.png");
    background-repeat: no-repeat;
    background-size: 2vw 2vw;
    width: 2vw;
    height: 2vw;
}