/* Body Styles */

body {
    margin-bottom: 2%;
}

/* Table Styles */

tbody tr:nth-child(even):hover td, tbody tr:nth-child(odd):hover td {
    background-color: #00803120 !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #006225;
    border-color: #006225;
}

a.page-link, a.page-link:hover {
    color: #006225;
}

/* Input Styles */

div#filterData {
  position: relative;
  overflow: hidden;
}

div.rows {
    position: relative;
    width: 33%;
    float: right;
}

input[type=checkbox]:checked + label {
  font-weight: bold;
}